<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing App</title>
  </head>
  <body>
    <% if(isIncorrect) { %>
    <div style="color: red; margin: 0 auto 1.5rem; text-align: center">
      <p>Your entered a wrong password</p>
    </div>
    <% } %>

    <!-- skipping the action attribute - sends request to the route which renders this page (/file) -->
    <!-- the enctype must be default - urlencoded-form-data -->
    <form
      id="form"
      method="post"
      style="
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin-inline: auto;
      "
    >
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <button type="submit">Download</button>
    </form>
  </body>
</html>
